@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: dodgerblue;
  font-family: "Roboto", "sans-serif";
}
.App {
  align-items: center;
}
.mainContainer {
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}
.cardContainer {
  width: 230px;
  height: fit-content;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  text-align: center;
}
.imgContainer {
  width: 100%;
}
.text h1 {
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}
.imgContainer img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.btn {
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(218, 58, 58);
  color: white;
  border: none;
  margin-top: 20px;
  margin-left: 5%;
  cursor: pointer;
}
.btn2 {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(207, 205, 205);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn2:hover {
  background-color: rgb(184, 184, 184);
}

input {
  font-size: 20px;
  padding: 10px;
  width: 300px;
  outline: none;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.searchComp h1 {
  text-transform: uppercase;
  color: rgb(224, 224, 224);
  font-size: 30px;
  margin: 10px auto;
  margin-left: 40%;
}
.searchComp span {
  color: black;
}
@media (min-width: 100px) {
  input {
    margin-left: 15%;
  }
}
@media (min-width: 600px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
  }
  input {
    margin-left: 25%;
  }
}
@media (min-width: 800px) {
  .mainContainer {
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
  }
  input {
    margin-left: 30%;
  }
}
@media (min-width: 1055px) {
  .mainContainer {
    grid-template-columns: repeat(4, 1fr);
    width: 1000px;
  }
  input {
    margin-left: 35%;
  }
}
